/* index page css starts here  */
h1{
   color:#583E2E;
   text-align: center;
   font-size: 2.2rem;
   font-family: 'Roboto Mono', monospace;;
   margin-bottom: 45px;
}

h4{
   color:#583E2E;
   font-size: 1.2rem;
   font-family: 'Raleway', sans-serif;
}

p{
   font-family: 'Dosis', sans-serif;
}

.form-control{
   height: 33px;
   width: 120px !IMPORTANT;
}
.form-group .form-inline{
   border: 1px solid #000;
   background-color: blue;
   color: burlywood;
}

/* index page css ends here  */
